@import url("https://fonts.googleapis.com/css?family=Ubuntu");


.darkn1{
background:#000000;
padding:15px;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
}

.darkn2{
background:#556B2F;
padding:15px;
color:#ffffff;

text-weight:bold;
}


.darkn3{
background:#000000;
padding:15px;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
}

.darkn4{
background:#556B2F;
padding:15px;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
}

.darkn5{
background:#556B2F;
padding:15px;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
margin-right:0px;
margin-left:0px;
text-weight:bold;
}
.darkn6{
background:#556B2F;
padding:15px;
color:#ffffff;
margin-top:10px;
margin-bottom:10px;
text-weight:bold;
}






/*Header*/
header{
background:#FF8C00;
color:#ffffff;
padding-top:10px;
min-height:70px;
border-bottom: 	#000000 4px ridge;
}

header a{
color: #000000;
text-decoration: none;
text-transform:uppercase;
font-size:16px;
}

header li{
float:left;
display:inline;
padding: 0 0px 0 20px;
}

header #branding{
float:left;
}

header #branding h1{
margin:0;
}
header nav{
float: right;
margin-top:10px;
}

header .highlight, header .current a{
color:#ffffff;
font-weight:bold;
}
 
header a:hover{
color:#ffffff;
font-weight:bold;
}
/*Showcase*/
#showcase{
min-height:400px;
background:url("dd.jpg") no-repeat;
text-align:center;
color:#ffffff;
}
 
#showcase h1{
margin-top: 100px;
font-size: 55px;
margin-bottom: 10px;
}

#showcase p{
font-size:20px;
}

/* Newletters*/
#newsletter{
padding:5px;
color:#ffffff;
background:#35424a;
}

#newsletter h1{
float:left;
}

#newsletter form{
float: right;
margin-top:15px;
}

#newsletter input[type="email"]{
padding:4px;
height:25px;
width:250px;
}


 
/*Sidebar*/

aside#sidebarn1{
float:left;
width:45%;
margin-right:1px;
margin-top:20px;
}

aside#sidebarn2{
float:left;
width:45%;
margin-right:1px;
margin-top:20px;
}

aside#sidebarn3{
float:right;
width:45%;
margin-right:1px;

}

aside#sidebarn4{
float:right;
width:45%;
margin-right:1px;
}

aside#sidebarn5{
float:left;
width:45%;
margin-right:1px;
}
aside#sidebarn6{
float:right;
width:45%;
margin-right:1px;
}




















/* Media Queries*/
@media(max-width: 768px){
header #branding, header nav, header nav li,#newsletter h1, #newletter form, #boxes .box, article#main-col, aside#sidebarn1, aside#sidebarn2,aside#sidebarn3,aside#sidebarn4,aside#sidebarn5,aside#sidebarn6{
float:none;
text-align:center;
width:100%;
}
header{
padding-bottom:20px;
}
#showcase h1{
margin-top:40px;
}
#newsletter button, .quote button{
dispaly:block;
width:100%;
margin-bottom:5px;
}

#newsletter form input[type="email"], .quote input, .quote textarea{
width:100%;
margin-bottom:5px;
}

}









